* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./fonts/avenir-next-bold.ttf");
}

@import url("./components/AppNavbar.css");
@import url("./components/Banner.css");
@import url("./components/ProductCardBrowse.css");
@import url("./pages/Product.css");
@import url("./pages/Register.css");
@import url("./pages/Login.css");

.cardHighlight {
  min-height: 100%;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 100%;
  padding: 0;
}

.form-control {
  border: none;
  border-bottom: 2.5px solid black;
  border-radius: 0;
}

#banner-top-text {
  font-family: "Montserrat Bold";
  font-size: 0.8rem;
}

#shop-banner {
  padding: 0;
  margin: 0;
  width: 100%;
}

#checkbox {
  width: 30px;
}

#table-cart {
  white-space: nowrap;
}

th {
  font-family: "Montserrat Medium";
  font-size: 1.1rem;
  text-align: center;
}

td {
  font-family: "Montserrat Medium";
  font-size: 1rem;
  text-align: center;
  text-align: left;
}

#checkout-button {
  font-family: "Montserrat Bold";
  font-size: 1rem;
  background-color: black;
  border: none;
  border-radius: 20px;
}

#remove-button {
  font-family: "Montserrat Bold";
  font-size: 1rem;
  background-color: red;
  border: none;
  border-radius: 20px;
}

#profile-header {
  font-family: "Montserrat Bold";
  font-size: 4.8rem;
}

#profile-sub {
  font-family: "Montserrat Bold";
  font-size: 1.5rem;
}

#order-acc {
  font-family: "Montserrat Medium";
}

#admin-nav-items {
  font-family: "Montserrat Bold";
  font-size: 1.3rem;
  color: white;
}

#collasible-nav-dropdown {
  font-family: "Montserrat Medium";
  font-size: 1.1rem;
  color: white;
}

#search-button {
  font-family: "Montserrat Bold";
  font-size: 1.1rem;
  background-color: black;
  border: none;
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#form-sort {
  font-family: "Montserrat Medium";
}

#product-table {
  white-space: nowrap;
}

#addproduct-button {
  font-family: "Montserrat Bold";
  font-size: 1.1rem;
  background-color: #fa4616;
  border: none;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#addproduct-buttonmain {
  font-family: "Montserrat Bold";
  font-size: 1.2rem;
  background-color: #fa4616;
  border: none;
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#save-button {
  font-family: "Montserrat Bold";
  font-size: 1.1rem;
  background-color: black;
  border: none;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#close-button {
  font-family: "Montserrat Bold";
  font-size: 1.1rem;
  background-color: gray;
  border: none;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#product-modal {
  font-family: "Montserrat Medium";
}

@media (min-width: 320px) {
  #banner-top-text {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  #banner-top-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  #banner-top-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 1250px) {
  #banner-top-text {
    font-size: 0.8rem;
  }
}
