* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./fonts/Montserrat-Bold.ttf");
}

.cardHighlight {
  min-height: 100%;
}

#nav-links {
  font-family: "Montserrat Bold";
  font-size: 22px;
}

#brand-name {
  font-family: "Montserrat Bold";
  font-size: 28px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 100%;
  padding: 0;
}

#banner-top {
  background: black;
  font-family: "Montserrat Bold";
  font-size: 10px;
}

#banner-top-text {
  font-family: "Montserrat Bold";
  font-size: 15px;
}

.carousel-indicators {
  display: none !important;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

#caption-carousel {
  font-family: "Montserrat Bold";
  font-size: 65px;
}

.form-control {
  border: none;
  border-bottom: 2.5px solid black;
  border-radius: 0;
}

#login-button {
  background: black;
  border-color: none;
  border-radius: 30px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Montserrat Bold";
  font-size: 20px;
}

#login-button-inactive {
  background: rgb(48, 47, 47);
  border-radius: 30px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Montserrat Bold";
  font-size: 20px;
}

#form-label {
  font-family: "Montserrat Medium";
  font-size: 17px;
}

#header {
  font-family: "Montserrat Bold";
  font-size: 70px;
  color: black;
}

#register-button-active {
  background: black;
  border-color: none;
  border-radius: 35px;
  padding-left: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 50px;
  font-family: "Montserrat Bold";
  font-size: 25px;
}

#register-button-inactive {
  background: rgb(48, 47, 47);
  border-color: none;
  border-radius: 35px;
  padding-left: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 50px;
  font-family: "Montserrat Bold";
  font-size: 25px;
}

#card-product {
  border: none;
}

#img-product {
  border: 1px solid rgb(184, 181, 181);
  border-radius: 10px;
}

#image-product {
  transition: all 1s ease;
}

#image-product:hover {
  transform: scale(0.9);
}

#title-product {
  font-family: "Montserrat Bold";
  font-size: 1.8rem;
  color: black;
}

#description-product {
  font-family: "Montserrat Medium";
  font-size: 1.3rem;
  color: black;
}

#price-product {
  font-family: "Montserrat Medium";
  font-size: 1.3rem;
  color: black;
}

#product-link {
  font-family: "Montserrat Bold";
  border: none;
  color: black;
  font-size: 1.2rem;
}

#over {
  visibility: hidden;
}

#hover-button {
  font-family: "Montserrat Bold";
  font-size: 0.8rem;
  background-color: black;
  border: none;
  text-align: center;
  position: absolute;
  left: 120px;
  top: 340px;
  border-radius: 20px;
}

#shop-banner {
  padding: 0;
  margin: 0;
  width: 100%;
}
